<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:fragment="baseheader">
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.min.css}">

    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
</head>

<body>
<div th:fragment="navbar">

    <a th:href="@{/}">Home</a>

</div>

<div class="container"></div>

<div th:fragment="footer">

    <footer>Footer</footer>

</div>

<div th:fragment="bottomScripts">

    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</div>

</body>
</html>